@font-face {
	font-family: 'CMU Typewriter';
	src: url('assets/fonts/cmunvt.eot');
	src: url('assets/fonts/?#iefix') format('embedded-opentype'),
		 url('assets/fonts/cmunvt.woff') format('woff'),
		 url('assets/fonts/cmunvt.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'CMU Typewriter';
	src: url('assets/fonts/cmunvi.eot');
	src: url('assets/fonts/cmunvi.eot?#iefix') format('embedded-opentype'),
		 url('assets/fonts/cmunvi.woff') format('woff'),
		 url('assets/fonts/cmunvi.ttf') format('truetype'),
		 url('assets/fonts/cmunvi.svg#cmunvi') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
    font-family: staatliches;
    src: url('assets/fonts/Staatliches-Regular.ttf');
    font-weight:bold;
    font-style: normal;
}
/*
@font-face {
    font-family: relief;
    src: url('assets/fonts/ReliefSingleLineOutline-Regular.otf');
    font-weight:bold;
    font-style: normal;
}*/
@font-face {
    font-family: gapsans;
    src: url('assets/fonts/GapSans.ttf');
    font-weight:normal;
    font-style: normal;
}


.loader-font-1{
    font-family:gapsans;
    font-weight:bold;
}

html, body{
    background-color:darkblue !important;
}
body{
    background-color:darkblue;
}

svg{
    display:none;
}


ul{
    list-style: none;
    margin:0;
    padding:0;
}
li{
    margin:0;
    padding:0.2rem;
}


h3{
    font-family:'CMU Typewriter';
    color:black; 
    line-height:1em;
}

/*overwrite pw rules. this is dirty but we still need some pw styles*/
#pw-mastheads, #pw-content-head, footer{
    display:none;
}

#main{
    max-width:inherit;
    min-width:100%;
    margin:0 !important;
    padding:0;
}

section.remap-container{
    font-family:'CMU Typewriter';
    font-size:2rem;
    min-height:100vh;
    min-width:100vw;
    background:darkblue;
}


.space-arrow{
    position:fixed;
    width: 0; 
    height: 0; 
    cursor:pointer;
    opacity:0;
    transition: opacity linear 100ms;
}
.space-arrow.active{
    opacity:1;
}

.arrow-top, .arrow-bottom{
    left:50%;
    transform:translate(-50%);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}
.arrow-left, .arrow-right{
    top:50%;
    transform:translateY(-50%);
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
.arrow-top{
    top:10px;
    border-bottom: 15px solid white;

}
.arrow-bottom{
    bottom:10px;
    border-top: 15px solid white;
}
.arrow-left{
    left:10px;
    border-right: 15px solid white;
}
.arrow-right{
    right:10px;
    border-left: 15px solid white;
}



.ctx-menu{
    display:none;
    position:fixed;
    background:lightyellow;
    font-size:1rem;
    z-index:20000;
    text-transform:lowercase;
}

.ctx-menu.active{
    display:block;

}
.ctx-menu li{
    padding:0.5rem;
}
.ctx-menu li.menu-head{
    border-bottom:1px solid black;
}
.ctx-menu li.menu-item:hover{
    background:#0F0;
    cursor:pointer;
}

.title-field{
    position:absolute;
    border:1px solid black;
}

.node{
    position:absolute;
    padding-top:10px;
    z-index:2000;
    margin-bottom:100rem;
    background-color:white !important; /*important to keep it in print */
    white-space:nowrap;
    
}

.node.selectable{
    opacity:0.8;
}
.node.dragging{
    user-select: none;
    cursor:grabbing;
}
.node svg, .edge svg{
    position:absolute;
    top:0;
    left:0;
}

.node h3{
    padding:1rem;
    margin:0;
    color:black;
    font-family:gapsans;
    text-transform:lowercase;
    position:relative;
    z-index:10000;
    text-align:center;

}

.node .ctx-menu{
    position:absolute;
    top:1px;
    right:3px; 
    z-index:20000;
}
.node .ctx-menu{
    width:1rem;
    height:1rem;
    display:block;
    background:white;
}


    .edge{
        position:absolute;
        transform-origin: left center;
        text-align:center;
        /*background:lightyellow;*/
        border:1px solid darkblue;
        background:white !important;
        z-index:1000;
        display:flex;
        align-items:center;
    }
.edge h3{
    margin:0;
    padding:0;
    color:black;
    font-family:'CMU Typewriter';
    font-size:1rem;
    width:100%;
    font-style: italic;
    position:relative;
    z-index:10000;
}

.icon.link{

    background-image: url('./assets/icons/link-2.svg');
    background-size:100% 100%;
}

.modal{
    position:fixed;
    width:100vw;
    height:100vh;
    background-color:rgba(255, 255, 255, 0.5);
    display:flex;
    z-index:100000;
    justify-content: center;
    align-items: center;
}
.modal div{
    background:white;
    padding:1rem;

}

textarea{
    border:1px solid black;
    box-shadow: none;
    outline:none;
}


.info-display{
    font-family:"CMU Typewriter";
    font-style: italic;
    font-size:1rem;
    position:fixed;
    top:0;
    right:0;
    padding:1rem;
    line-height:1rem;
    background:white;
    opacity:0;
    transition:opacity 500ms;
    z-index:200000;

}
.info-display.show{
    opacity:1;
}
.info-display.validation{
    background:#0F0;
    

}
.info-display.error{
    background:#F00;
    color:white;

}
